.section-about{
    display:flex;
    flex-direction: column;
    align-items: center;
     
        .section-title{
            font-size:30px;
            margin:30px;
            text-shadow:0 0 2px #000;
            letter-spacing:2px;
        }
        p{
            margin:auto;
            padding:30px;
            width:50%;
            letter-spacing:2px;
            font-size:18px;
        }
}