.section-error{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    h3{
        font-size:24px;
    }
    .link-error{
        border:none;
        margin-top:15px;
        width:150px;
        background-color:#fb8500;
        color:black;
        font-weight: 500;
        border-radius:6px;
        text-align: center;
        padding:6px 10px;
        font-weight: 600;
        font-size:20px;
        transition: all .4s ease;
        &:hover{
            color:white;
            background-color:#023047;
        }
    }
}